<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="capstone.uoit.ca.lifenoteapp" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="com.myapp.android.locationapi.maps.permission.MAPS_RECEIVE" />
    <!-- To let the user choose whatever picture they want when signing up -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- The following two permissions are not required to use
         Google Maps Android API v2, but are recommended. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"


        android:theme="@style/AppTheme">
        <activity
            android:name="capstone.uoit.ca.lifenoteapp.StartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="capstone.uoit.ca.lifenoteapp.signup.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName="capstone.uoit.ca.lifenoteapp.StartActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="capstone.uoit.ca.lifenoteapp.StartActivity" />
        </activity>
        <activity
            android:name="capstone.uoit.ca.lifenoteapp.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="capstone.uoit.ca.lifenoteapp.StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="capstone.uoit.ca.lifenoteapp.StartActivity" />
        </activity>
        <activity
            android:name="capstone.uoit.ca.lifenoteapp.functions.Notes.NotesFragment"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="capstone.uoit.ca.lifenoteapp.MainActivity"
            android:label="@string/app_name"
            android:parentActivityName="capstone.uoit.ca.lifenoteapp.StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="capstone.uoit.ca.lifenoteapp.StartActivity" />
        </activity>
        <activity
            android:name=".functions.Notes.CreateDetailedNoteActivity"
            android:label="@string/title_activity_create_detailed_note"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCAc9psQCYyWunwg_aYR4Eva7HsBg7mZMI"/>

    </application>

</manifest>
